body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.profile-nav, .profile-info{
    margin-top:10px;   
}

.profile-nav .user-heading {
    color: rgb(17, 16, 16);
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}



.bio-row {
    /* display: inline-block; */
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
    font-size: 1.2vw;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}

.bio{
    margin-top: 30px;
}
