*{
    padding:0px;
    margin:0px;
}
body{
	background-color: #c0c4bf;
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #000000;
}

.container{
    width:90%;
    margin: auto;
    overflow: hidden;
}

.container h3{
	margin-top: 20px;
    font-weight: 200;
}

#my-header{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 35px;
    font-weight: 450;
    padding: 5px 0px;
}

#navbar{
    background-color: rgb(0, 0, 0);
    font-size: 18px;
}

.left-nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.left-nav a:hover{
	color: rgb(122, 94, 41);
}

.left-nav ul{
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-nav li{
    display: inline;
    padding-right: 18px;
}

.right-nav{
    background-color: #000000;
	font-weight: lighter;
    font-size: 20px;
	position: absolute;
	text-align: right;
	top: 0px;
	right: 0px;
    padding: 15px;
}

.right-nav a{
	color: #ffffff;
    text-decoration: none;
}

.right-nav a:hover{
	color: rgb(122, 94, 41);
}

.right-nav a:active{
	color: crimson;
}

.right-nav li{
	display: inline;
    padding-right: 10px;
}

.message{
	color: indianred;
}

.my-form{
    padding:20px;
}

.my-form .form-entry{
    padding-bottom: 16px;
}

.my-form label{
    display: block;
    padding-bottom: 5px;
}

.my-form input[type = "text"]{
    padding:6px;
    width:80%;
}

.btn{
    background-color: #1e264b;
    color: blanchedalmond;
    padding:10px 15px;
    border: none;
}

.btn:hover{
	background-color: rgb(113, 143, 184);
}