{% extends 'base.html' %}
{% block content %}
   <link rel="stylesheet" href="static/style.css">
       <div class = "container">
           <h3>Please login by entering the details:</h3>
       </div>
       <div class="container">
           <form  class="my-form" method="POST" action='/login'>
               {%csrf_token%}
               <div class = "form-entry">
                   <label>Active_Member ID</label><input required autofocus type="text" name="activememberid">
               </div>
               <div class = "form-entry">
                   <label>Password</label><input required autofocus type="text" name="pass1"></h3>
               </div>
               <input class="btn" type="submit" value="login">
               <div class = "message">{{msg}}</div>
           </form>
      </div>
{% endblock %}