{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/login.css">
<style>
    h2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
</style>

<div class="wrapper">
    <h2>Admin login</h2>
    <form class="p-3 mt 3" method="POST" action='/adminlogin'>
        {%csrf_token%}
        <div class="form-field d-flex align-items-center"> <input type="text" name="acid" id="userName"
                placeholder="Member id">
        </div>

        <div class="form-field d-flex align-items-center"> <input type="password" name="pass1" id="pwd"
                placeholder="Password">
        </div>

        <input class="btn mt-3" type="submit" value="login">

    </form>
    <div class="message">{{msg}}</div>
</div>
{% endblock %}