<!DOCTYPE html>
<html>

<head>
    <title>umd</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/base.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo">Unused Medicine Donation</label>
        <ul>
            <li><a>Hi&nbsp;&nbsp;{{acid}}!</a></li>
            <li><a href="/adminlogout">Logout</a></li>
        </ul>
        <br>
    </nav>
    <!-- <hr> -->
    <!-- <br> -->
    <div class = "leftnav">
        <ul>
        <li><a href="/donations">Check Donations</a></li>
        <li><a href="/requests">Check Requests</a></li>
        </ul>
    </div>
   
    <div class="container">
            <h3>Active_Member Name</h3>
            <p>{{name}}</p>
    </div>
    <br>
    <div class="container">
            <h3>Email ID</h3>
            <p>{{email}}</p>
    </div>
    <br>
    <div class="container">
        <h3>Address</h3>
            <p>{{address}}</p>
    </div>
    <br>
    <div class="container">
        <h3>Phone </h3>
            <p>{{phone}}</p>     
    </div>
    
</body>
</html>

