{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href="static/style.css">
    </head>
    <body>
        <header id="my-header">
            <div class = "container">
                Unused Medicine Donation
            </div>
        </header>
        <hr>
        <nav id="navbar">
            <div class = "container">
                <div class = "left-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="right-nav">
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/admin">Admin Login</a></li>
                    <li><a href="/medicine_donation">Donate Medicine</a></li>
                    <li><a href="/medicine_request">Request Medicine</a></li>
                    <li><a href="/user_feedback">Feedback</a></li>



                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>