{% extends 'base3.html' %}
{% block content %}
<link rel="stylesheet" href="./static/table.css">

<style>
    .discision a {
        /* margin-top: 0.5; */
        padding-top: 0.6vw;
        display: inline-block;
        width: 49%;
        height: 2vw;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
        vertical-align: bottom;

    }
</style>

<h2>Available Donations</h2>
<table>
    <thead>
        <th>Donation_ID</th>
        <th>User_ID</th>
        <th>Medicine_Name</th>
        <th>Medicine_Quantity</th>
        <th>Expiry_Date</th>
        <th>Donated_Date</th>
        <th>Accept/Reject</th>
    </thead>
    {% for d in data %}
    <tr>
        <td>{{d.donate_id}}</td>
        <td>{{d.user_id}}</td>
        <td>{{d.medicine_name}}</td>
        <td>{{d.medicine_quantity}}</td>
        <td>{{d.expiry_date}}</td>
        <td>{{d.donation_date}}</td>
        <td>
            <div class="discision">
                <a href="/approvedonate?donate_id={{d.donate_id}}">Accept Medicines</a>
                <a href="/rejectdonate?donate_id={{d.donate_id}}">Safe Disposal</a>
            </div>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}