{% extends 'base2.html' %}
{% block content %}
<link rel="stylesheet" href="./static/login.css">
<div class="wrapper">
    <h2>Enter Details</h2>
    <form action="/RecordEdited" method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <div class="form-field d-flex align-items-center"> <input type="text" name="name" placeholder="Enter Name"
                value="{{user.name}}">
        </div>


        <div class="form-field d-flex align-items-center"> <input type="text" name="address" placeholder="Address"
                value="{{user.address}}">
        </div>

        <div class="form-field d-flex align-items-center"> <input type="text" name="email" placeholder="Email"
                value="{{user.email}}"> </div>

        <div class="form-field d-flex align-items-center"> <input type="text" name="phone" placeholder="Phone No"
                value="{{user.phone}}"> </div>

        <div class="form-field d-flex align-items-center"> <input type="password" name="pass1" placeholder="Enter Password"
                value="{{user.pass1}}"> </div>

        <div class="form-field d-flex align-items-center" > <input type="password" name="pass2"
                placeholder="Conferm Password" value="{{user.pass1}}"> </div>
        <div class="file">
                <input type="file" name="imag" id="" placeholder="upload file" required >
        </div>

        <input class="btn mt-3" type="submit" value="Update">
    </form>
    <span>{{msg}}</span>
    {% endblock %}