<!DOCTYPE html>
<html>

<head>
    <title>UMD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            font-family: "Montserrat", sans-serif;
            background-color: #a2b1a5e0;
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }

        #main {
            margin-left: 5vw;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body class="abc">
    <div class="flex-container">
        <div>Suggest a title</div>
        <!-- <button style="padding: 5px; right:5px;position:absolute ;top:15px ;"><a href="#">new user / login </a> </button>
         -->

        <div id="DivTwo">
            <form action="/register">
                <input type="submit" value="Register">
            </form>
        </div>
        <div id="DivOne">
            <form action="/login">
                <input type="submit" value="Login">
            </form>
            {{msg}}
        </div>
    </div>
    <div class="w3-padding-large" id="main">
        <!-- About Section -->
        <div class="w3-text-black w3-padding-0" id="about">
            <h2 class="w3-text-light-black">Heading</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>


            <h2 class="w3-text-light-black">Heading</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>


            <h3 class="w3-padding-24 w3-text-light-black">Our Skills/ Or something else</h3>
            <p class="w3-wide">Photography</p>
            <div class="w3-white">
                <div class="w3-dark-white" style="height:28px;width:95%"></div>
            </div>
            <p class="w3-wide">Web Design</p>
            <div class="w3-white">
                <div class="w3-dark-white" style="height:28px;width:85%"></div>
            </div>
            <p class="w3-wide">Photoshop</p>
            <div class="w3-white">
                <div class="w3-dark-white" style="height:28px;width:80%"></div>
            </div><br>

            <div class="w3-row w3-center w3-padding-24 w3-section w3-light-black">
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">11+</span><br>
                    Partners
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">55+</span><br>
                    Projects Done
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">89+</span><br>
                    Happy Clients
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">150+</span><br>
                    Meetings
                </div>
            </div>

            <!-- Testimonials -->
            <h3 class="w3-padding-24 w3-text-light-black">Reputation</h3>
            <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar"
                class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-margin-right">XYZ</span>Founder Of NGO</p>
            <p>XXYYZZ</p><br>

            <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar"
                class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-margin-right">XYZ</span>Founder Of NGO</p>
            <p>XXYYZZ</p><br>
            <!-- End About Section -->
        </div>

        <!-- Portfolio Section -->
        <div class="w3-padding-64" id="photos">
            <h2 class="w3-text-light-black">Photo gallery</h2>
            <hr style="width:200px" class="w3-opacity">

            <!-- Grid for photos -->
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
                    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
                    <img src="https://www.w3schools.com/w3images/sailboat.jpg" style="width:100%">
                </div>

                <div class="w3-half">
                    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
                    <img src="https://www.w3schools.com/w3images/chef.jpg" style="width:100%">
                    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
                    <img src="https://www.w3schools.com/w3images/p6.jpg" style="width:100%">
                </div>
                <!-- End photo grid -->
            </div>
            <!-- End Portfolio Section -->
        </div>

        <!-- Contact Section -->
        <div class="w3-text-black" id="contact">
            <h2 class="w3-text-light-black">Contact Us</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>India -MP</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +91 XXXXXX</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com
                </p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-24" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-24" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-padding-24" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-padding-24" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-light-black w3-padding-large" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>

        <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
        <footer class="w3-content w3-padding-64 w3-text-black w3-xlarge">
            <i class="fa fa-facebook-official w3-hover-opacity"><a href="#"></a></i>
            <i class="fa fa-instagram w3-hover-opacity"></i><a href="#"></a>
            <i class="fa fa-snapchat w3-hover-opacity"></i><a href="#"></a>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i><a href="#"></a>
            <i class="fa fa-twitter w3-hover-opacity"></i><a href="#"></a>
            <i class="fa fa-linkedin w3-hover-opacity"></i><a href="#"></a>
            <p class="w3-small">The goal of our project is to help needy people</p>
            <a class="w3-button w3-round-xxlarge w3-small w3-light-black" href="#" target="_blank">Start now</a>
        </footer>
    </div>

</body>

</html>