<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/register.css">
    </head>
        <body>
           <div id="DivTwo">
               <form action="/register">
                   <input type="submit" value="Register">
               </form>
    
           </div>
            <div id="DivOne">
                <form action="/login">
                    <input type="submit" value="Login">
                </form>
                {{msg}}
            </div>
    </body>
</html>