{% extends 'base.html' %}
<!-- {% block title %}
    home
{% endblock %} -->
{% block content %}
<style>
    img{
        display: inline-block;
        width: 49%;
        height: 32vw;
        font-size: 2vw;
        vertical-align: text-bottom;
        padding: 1vw;

    }
    h1 {
        margin: 5px;
        padding: 5px;
    }

    .info {
        display: inline-block;
        width: 47%;
        height: 32vw;
        font-size:1.8vw;
        vertical-align: text-bottom;
        padding: 1vw;

    }
</style>
 
<h1 style="color: blueviolet;">Why medicine?</h1>
<div class="div1">

    <img " style="right: 1px;" src="https://source.unsplash.com/random/90*70/?unused medicine" alt="">
    <div class="info">
        Because our health is a fundamental part of being human. Without it, we have nothing.
        millions of Indian don’t take their prescribed medication because they can’t afford it. With soaring copays,
        deductibles, and insurance costs, many people are making impossible choices between medications, food and
        housing,
        gas to get to work, and mo
    </div>
</div>
<div class="div2">
    <div class="info">
        Not taking your medications, however, often leads to even worse outcomes—heart attacks, strokes, and even higher
        costs. This is our nation’s most critical problem, but it doesn’t have to be.
        That’s why we’re here. SIRUM provides access so everyone gets the care they deserve.
    </div>
    <img " src="https://source.unsplash.com/random/90*70/?poor people" alt="">
</div>
{% endblock %}