<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{% static 'home.css' %}"> -->
        <style>
            body{
                background-color: aquamarine;
            }
            #DivOne
            {
                background-color: rgb(226,225,223);
                max-width:fit-content;
                padding:1%;
                margin-left:40%;
                margin-top:8%;
            }
            #btn
            {
                margin-left:35%;
            }
            
        </style>
    </head>
    <body>
       <div id="DivOne">
           <form  method="POST" action='/login'>
               {%csrf_token%}
               <h3>Adhaar No.<br><input required autofocus type="text" name="adhaar"></h3>
               <h3>Password<br><input required autofocus type="password" name="pass1"></h3>
               <input type="submit" id="btn" value="login">
                {{msg}}
           </form>

       </div>
    </body>
</html>