{% extends 'base2.html' %}
{% block content %}
<link rel="stylesheet" href="static/style.css">
<div class="container">
    <h3><b>Request medicines using the form given below:</b></h3>
    <form class="my-form" action="/medicine_donation" method="POST">
        {%csrf_token%}

        <!-- <div class = "form-entry">
             <label>User ID</label><input required autofocus type="text" name="user_id">
         </div> -->
        <div class="form-entry">
            <label>Medicine Name</label><input required autofocus type="text" name="medicine_name">
        </div>
        <div class="form-entry">
            <label>Medicine Quantity</label><input required autofocus type="text" name="medicine_quantity">
        </div>
        <div class="form-entry">
            <label>Request Date</label><input required autofocus type="text" name="request_date">
        </div>
        <input class="btn" type="submit" value="Submit">
    </form>
</div>
<!--The following line is to use bootstrap in our web pages-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}