{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="static/style.css">
    <body>
        <div class = "container">
            <h3>Please register in order to use the site:</h3>
        </div>
       <div class="container">
           <form class="my-form" action="/send" method="POST">
               {%csrf_token%}
               <div class = "form-entry">
                <label>UserID</label><input  required autofocus type="text" name="user_id" >
                </div>
                <div class = "form-entry">
                    <label>Name</label><input  required autofocus type="text" name="name" >
                </div>
                <div class = "form-entry">
                    <label>Address</label><input required autofocus type="text" name="address">
                </div>
                <div class = "form-entry">
                    <label>Email ID</label><input required autofocus type="text" name="email">
                </div>
                <div class = "form-entry">
                    <label>Phone No.</label><input required autofocus type="text" name="phone">
                </div>
                <div class = "form-entry">
                    <label>Adhaar No.</label><input required autofocus type="text" name="adhaar">
                <div class = "form-entry">
                    <label>Password</label><input required autofocus type="text" name="pass1">
                </div>
                <div class = "form-entry">
                    <label>Confirm Password</label><input required autofocus type="text" name="pass2">
                </div>
               <input class = "btn" type="submit" value = "Register">
               <div class = "message">{{msg}}</div>
           </form>

       </div>
{% endblock %}