{% extends 'base3.html' %}
{% block content %}
<link rel="stylesheet" href="./static/table.css">
<h2>Medicine Stock</h2>
<table>
    <thead>
        <th>Status</th>
        <th>Medicine_Name</th>
        <th>Medicine_Quantity</th>
        <th>Expiry_Date</th>


    </thead>
    {% for d in data %}
    <tr>
        <td>{{d.status}}</td>
        <td>{{d.medicine_name}}</td>
        <td>{{d.medicine_quantity}}</td>
        <td>{{d.expiry_date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}