{% extends 'base2.html' %}
{% block content %}
<link rel="stylesheet" href="/static/form.css">
<div class="boxi">
    <h3>We value your feedback.</h3>
    Please fill the following form and help us to <br> improve our customer experience.
</div>
<div class="boi">
    <form class="feedback_form" method="POST" action="/user_feedback">
        {% csrf_token %}
        <div class="form-group">
            <b>How was your experience using our site:<br><br></b>
            <input type="radio" id="5" name="rating" value="5">
            <label for="5">Very satisfied</label>
            <input type="radio" id="4" name="rating" value="4">
            <label for="4">Satisfied</label>
            <input type="radio" id="3" name="rating" value="3">
            <label for="3">Neutral</label>
            <input type="radio" id="2" name="rating" value="2">
            <label for="2">Unsatisfied</label>
            <input type="radio" id="1" name="rating" value="1">
            <label for="1">Very Unsatisfied</label>
        </div>
        <br>
        <div class="form-group">
            <label><b>Tell us how we can improve:</b></label><br><br>
            <textarea name="feedb"></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<!--The following line is to use bootstrap in our web pages-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}